body {
    background-color: grey;
    margin: 30px;
}

.Box {
    box-sizing: border-box;
    background-color: white;
    margin: 1%;
    width: 150px;
    height: 345px;
    padding: 5px;
}

.RedBox {
    box-sizing: border-box;
    background-color: red;
    border: 15px solid darkred;
    height: 108px;
    width: 140px;
    margin-bottom: 5px;
}

.YellowBox {
    box-sizing: border-box;
    display: block;
    background-color: yellow;
    border: 15px solid darkgoldenrod;
    height: 108px;
    width: 140px;
    margin-bottom: 5px;
}

.GreenBox {
    box-sizing: border-box;
    display: block;
    background-color: green;
    border: 15px solid darkgreen;
    height: 108px;
    width: 140px;
    margin-bottom: 5px;
}

.InnerRed {
    box-sizing: content-box;
    background-color: lightpink;
    height: 50%;
    width: 100%;
    margin-top: 39px;
}

.InnerYellow {
   background-color: lightyellow;
   height: 50%;
   width: 50%;
   margin-left: 55px;
   margin-top: 39px;
}

.InnerGreen {
  background-color: lightgreen;
  height: 50%;
  width: 50%;
  margin-top: 39px;
}